[submodule "Ontology"]
	path = Ontology
	url = https://github.com/KMI-KPZ/Ontology.git
[submodule "Generic_Backend"]
	path = Generic_Backend
	url = https://github.com/KMI-KPZ/Generic_Backend.git
[submodule "Swagger-editor-doc/swagger-editor"]
	path = Swagger-editor-doc/swagger-editor
	url = https://github.com/KMI-KPZ/swagger-editor.git
[submodule ".\\swagger-editor\\"]
	url = https://github.com/KMI-KPZ/swagger-editor.git
[submodule "./"]
	url = https://github.com/KMI-KPZ/swagger-editor.git
