version: '3.4'

services:
  backend-prod:
    image: backend-prod
    build:
      context: .
      dockerfile: ./Dockerfile
    command: ["-e prod"]
    ports:
      - 127.0.0.1:8001:8000
    volumes:
      - .:/app
    depends_on:
      - db-prod
      - files-prod

  db-prod:
    image: postgres:15
    env_file:
     - .env.prod
    ports:
      - 127.0.0.1:5433:5432
    volumes:
      - ./postgres/data/:/var/lib/postgresql/data/

  files-prod:
    image: redis:7
    env_file:
      - .env.prod
    ports:
      - 127.0.0.1:6380:6379
    volumes:
      - ./redis/data/:/var/lib/redis/data/
      - ./docker/docker-service-redis-start.sh:/usr/local/bin/docker-service-redis-start.sh
    entrypoint: /usr/local/bin/docker-service-redis-start.sh # used to pass PW from environment variable change things there if needed
    extra_hosts:
      - "host.docker.internal:host-gateway"

  localstack-prod:
    image: localstack/localstack
    volumes:
      - ./localstack/:/var/lib/localstack
    env_file:
      - .env.prod
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
      - LOCALSTACK_PERSISTENCE=1
    ports:
      - "127.0.0.1:4567:4566"